<%= form_for(@post) do |f| %>
  <%= render 'error' %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %><br>
  </div>

  <%= collection_check_boxes :post, :tag_ids, Tag.all, :id, :name %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
